extends ../layouts/commons.pug
block content
  .container
    h2.d-flex.justify-content-center Thống kê
    if info
      each infos in info
        .alert.alert-info= infos    
    form(action="/file/findFile", method="POST").mt-4
      //- div.form-group.form-inline.float-left.mr-2
      //-   label(for="gvtofind").mb-2.mr-sm-2 Giảng viên:
      //-   select(name="gvtofind").form-control.mb-2.mr-sm-2
      //-     option(value=" ") 
      //-     each gvs in gv
      //-       option(value="gvtofind")= gvs.tengv
      div.form-group.form-inline.float-left 
        label(for="hktofind").mb-2.mr-sm-2 Học kì:
        select(name="hktofind").form-control.mb-2.mr-sm-2
          option(value=" ") 
          each hks in hk
            option(value= hks.mahk)= hks.tenhk        
      button.btn.btn-primary.mb-2.mr-sm-2.ml-2 Thống kê

    if file
      table.table.mt-2
        thead
          tr
            th Giáo viên
            th Ngày tải
            th Học kì
            th Môn học
            th Lớp
            th Thao tác
        each files in file
          tr
            td= files.tengv
            td= files.ngaytai
            td= files.tenhk
            td= files.tenmh
            td= files.tenlop
            td
              a(href= files.linkfile).btn.btn-info.fas.fa-download.mr-2



  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')