extends ../layouts/commons.pug
block content
  .container(style='margin-top: 170px')
    h2.d-flex.justify-content-center Thống kê
    form(action="/file/findFile", method="POST").mt-4
      div.form-group.form-inline.float-left.mr-2
        label(for="gvtofind").mb-2.mr-sm-2 Giảng viên:
        select(name="gvtofind").form-control.mb-2.mr-sm-2.custom-select
          option(value="null") Tất cả
          each gvs in gv
            option(value= gvs.magv)= gvs.tengv
      div.form-group.form-inline.float-left 
        label(for="hktofind").mb-2.mr-sm-2 Học kì:
        select(name="hktofind").form-control.mb-2.mr-sm-2.custom-select
          option(value="null") Tất cả
          each hks in hk
            option(value= hks.mahk)= hks.tenhk        
      button.btn.btn-mdb-color.mb-2.mr-sm-2.ml-2 Thống kê
    if info
      each infos in info
        //.alert.alert-info= infos 
        nav.navbar.navbar-dark.mdb-color.mb-2.wow.fadeInLeft
          span.navbar-text.white-text=infos 
    if file
      table.table.mt-2.table-bordered#thongkeTable.wow.fadeInRight.table-hover
        thead.thead-light
          tr
            th Giáo viên
            th Ngày tải
            th Học kì
            th Môn học
            th Lớp
            th Thao tác
        each files in file
          tr
            td= files.tengv
            td= files.ngaytai
            td= files.tenhk
            td= files.tenmh
            td= files.tenlop
            td
              a(href= files.linkfile, target="_blank").btn.blue-gradient.fas.fa-download.mr-2.btn-md

  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js')
  script.
    $(document).ready(function() {
    $('#thongkeTable').DataTable( {
    dom: 'Bfrtip',
    "language": {
      "info": "Hiện _START_ trên _END_ tổng _TOTAL_ trường",
      "search": "Tìm kiếm:",
      "paginate": {
        "first":    "Đầu",
        "last":    "Cuối",
        "next":    ">",
        "previous": "<"
      },
      "lengthMenu": "Hiện _MENU_ trường",
    },
    scrollY:        '60vh',
    scrollCollapse: true,
    paging:         false,     
    buttons: [
    {
    extend: 'excelHtml5',
    title: 'Danh sách đề cương excel',
    messageTop: 'Danh sách đề cương chi tiết',
    exportOptions: {
    columns: [ 0, 1, 2, 3, 4 ]
    }
    },
    {
    extend: 'pdfHtml5',
    title: 'Danh sách đề cương pdf',
    messageTop: 'Danh sách đề cương chi tiết',
    exportOptions: {
    columns: [ 0, 1, 2, 3, 4 ]
    }
    }
    ]
    } );
    } );



