extends ../layouts/commons.pug
block content
  .container
    h2.d-flex.justify-content-center Đề cương của #{user[0].tengv}
    button.btn.btn-primary.mr-2.mb-2(type='button', data-toggle='modal', data-target='#addFileModal')
      | Tải đề cương mới
    // The Modal
    #addFileModal.modal.fade
      .modal-dialog.modal-md
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Tải đề cương mới
            button.close(type='button', data-dismiss='modal') &times;
          // Modal body
          .modal-body
            form(action= "/file/myFile", method="POST", enctype="multipart/form-data")
              .form-group
                label(for="linkFile") File:
                input(type="file", name="linkFile", required).form-control-file
              .form-group
                label(for="knmalop") Tên lớp:
                select(name="knmalop").form-control.mb-2.mr-sm-2.custom-select
                  if lop
                    each lops in lop
                      option(value= lops.malop)= lops.tenlop
              .form-group
                label(for="knmamh") Tên môn học:
                select(name="knmamh").form-control.mb-2.mr-sm-2.custom-select
                  if monhoc
                    each monhocs in monhoc
                      option(value= monhocs.mamh)= monhocs.tenmh
              .form-group
                label(for="knmahk") Tên học kì:
                select(name="knmahk").form-control.mb-2.mr-sm-2.custom-select
                  if hocki
                    each hockis in hocki
                      option(value= hockis.mahk)= hockis.tenhk                     
                div.valid-feedback Tốt.
                div.invalid-feedback Xin điền trường này                      
              button.btn.btn-primary.mb-2.mr-sm-2 Xác nhận
              button.btn.btn-secondary(type='button', data-dismiss='modal', style='float: right') Đóng    
    table.table.mt-4.table-bordered#myFileTable
      thead.thead-light
        tr
          th Ngày tải
          th Học kì
          th Môn học
          th Lớp
          th Thao tác
      each files in file
        tr
          td= files.ngaytai
          td= files.tenhk
          td= files.tenmh
          td= files.tenlop
          td
            a(href= files.linkfile).btn.btn-info.fas.fa-download.mr-2
            button(data-href="/file/delFile/" + files.madc, data-toggle="modal", data-target="#confirm-delete" ).btn.btn-danger.fas.fa-trash-alt 
  #confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        h3.modal-header
          | Xóa
        .modal-body
          | Bạn chắc chắn muốn xóa file?
        .modal-footer
          a.btn.btn-danger.btn-ok Delete 
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            

  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js')
  script.
    $(document).ready(function() {
    $('#myFileTable').DataTable( {
    dom: 'Bfrtip',
    "language": {
      "info": "Hiện _START_ trên _END_ tổng _TOTAL_ trường",
      "search": "Tìm kiếm:",
      "paginate": {
        "first":    "Đầu",
        "last":    "Cuối",
        "next":    ">",
        "previous": "<"
      },
      "lengthMenu": "Hiện _MENU_ trường",
    },    
    buttons: [
    {
    extend: 'excelHtml5',
    title: 'Danh sách đề cương excel',
    messageTop: 'Danh sách đề cương chi tiết',
    exportOptions: {
    columns: [ 0, 1, 2, 3 ]
    }
    },
    {
    extend: 'pdfHtml5',
    title: 'Danh sách đề cương pdf',
    messageTop: 'Danh sách đề cương chi tiết',
    exportOptions: {
    columns: [ 0, 1, 2, 3 ]
    }
    }
    ]
    } );
    } );
    $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });