extends ../layouts/commons.pug
block content
  .container(style='margin-top: 170px')
    h2.d-flex.justify-content-center Đề cương của #{user[0].tengv}
    button.btn.btn-primary.mr-2.mb-2(type='button', data-toggle='modal', data-target='#addFileModal')
      i.fas.fa-plus.mr-2
      a Tải đề cương mới
    if errors
      each error in errors
        .alert.alert-danger
          span.closebtn(onclick="this.parentElement.style.display='none';") &times;
          = error        
    #addFileModal.modal.fade
      .modal-dialog.modal-notify.modal-info
        .modal-content
          .modal-header
            h4.heading.lead Tải đề cương mới
            button.close.white-text(type='button', data-dismiss='modal') &times;
          .modal-body
            .text-center
              .fas.fa-file-alt.fa-4x.mb-3.animated.rotateIn
            form(action= "/file/myFile", method="POST", enctype="multipart/form-data")
              .form-group
                label(for="linkFile") File:
                input(type="file", name="linkFile", required).form-control-file
              .form-group
                label(for="knmalop") Tên lớp:
                select(name="knmalop").form-control.mb-2.mr-sm-2.custom-select
                  if lop
                    each lops in lop
                      option(value= lops.malop)= lops.tenlop
              .form-group
                label(for="knmamh") Tên môn học:
                select(name="knmamh").form-control.mb-2.mr-sm-2.custom-select
                  if monhoc
                    each monhocs in monhoc
                      option(value= monhocs.mamh)= monhocs.tenmh
              .form-group
                label(for="knmahk") Tên học kì:
                select(name="knmahk").form-control.mb-2.mr-sm-2.custom-select
                  if hocki
                    each hockis in hocki
                      option(value= hockis.mahk)= hockis.tenhk                     
              .modal-footer.justify-content-center               
                button.btn.btn-primary.mb-2.mr-sm-2 Xác nhận 
                button.btn.btn-outline-primary.waves-effect(type='button', data-dismiss='modal', style='float: right') Đóng    
    table.table.mt-4.table-bordered#myFileTable
      thead.thead-light
        tr
          th STT
          th Ngày tải
          th Học kì
          th Môn học
          th Lớp
          th Thao tác
      each files in file
        tr
          td
          td= files.ngaytai
          td= files.tenhk
          td= files.tenmh
          td= files.tenlop
          td
            a(href= files.linkfile).btn.blue-gradient.fas.fa-download.mr-2.btn-md
            button(data-href="/file/delFile/" + files.madc, data-toggle="modal", data-target="#confirm-delete" ).btn.btn-danger.fas.fa-trash-alt.btn-md
  #confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm.modal-notify.modal-danger(role='document')
      .modal-content.text-center
        .modal-header.d-flex.justify-content-center
          p.heading Bạn chắc chắn muốn xóa?
        .modal-body
          i.fas.fa-times.fa-4x.animated.rotateIn
        .modal-footer
          .modal-footer.flex-center
          a.btn.btn-ok.btn-danger Đúng
          button.btn.btn-outline-danger.waves-effect(type='button', data-dismiss='modal') Hủy
            

  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js')
  script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js')
  script.
    $(document).ready(function() {
    var t = $('#myFileTable').DataTable( {
    dom: 'Bfrtip',
    "language": {
      "info": "Hiện _START_ trên _END_ tổng _TOTAL_ trường",
      "search": "Tìm kiếm:",
      "paginate": {
        "first":    "Đầu",
        "last":    "Cuối",
        "next":    ">",
        "previous": "<"
      },
      "lengthMenu": "Hiện _MENU_ trường",
      "emptyTable": "Hiện không có đề cương nào"
    },    
    buttons: [
    {
    extend: 'excelHtml5',
    title: 'Danh sách đề cương excel',
    messageTop: 'Danh sách đề cương chi tiết',
    exportOptions: {
    columns: [ 0, 1, 2, 3, 4 ]
    }
    },
    {
    extend: 'pdfHtml5',
    title: 'Danh sách đề cương pdf',
    messageTop: 'Danh sách đề cương chi tiết',
    exportOptions: {
    columns: [ 0, 1, 2, 3, 4 ]
    }
    }
    ]
    } );
    t.on('order.dt search.dt', function () {
    t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
          cell.innerHTML = i+1;
          t.cell(cell).invalidate('dom');
    });
    }).draw();       
    } );
    $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });