extends ../layouts/commons.pug
block content
  .container(style='margin-top: 170px')
    .card(style="background-color: rgba(158, 158, 158, 0.1);").labelColor
      .card-body
        form(action="/users/changeuser", method="POST")#changeUserForm
          p.h4.text-center.py-4 Sửa tài khoản
          if errors
            each error in errors
              .alert.alert-danger
                span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                = error
          div.form-group
            label(for="magvchange") Họ và tên giảng viên cần thay đổi:
            select(name="magvchange", id="mySelect", onchange="infoUser()").form-control.mb-2.mr-sm-2.custom-select
              option(value=" ") Chọn...
              each user in users  
                option(value= user.magv + "-" + user.tengv + "-" + user.email + "-" + user.sdt)= user.tengv
          .form-group.form-inline
            label.font-weight-light(for="magv").mr-2 Mã giảng viên:
            input.form-control(type="text", name="magv", required, readonly="true", value=values ? values.magv : "")#magv
          .md-form
            i.fa.fa-user.prefix
            input.form-control(type="text", name="tengv",value=values ? values.tengv : "", required, placeholder="Họ tên", data-error="#errtengv")#tengv
            label.font-weight-light(for="tengv") Họ và tên giảng viên:
            small#errtengv.form-text.text-danger.err
          .md-form
            .row
              .col-3
                i.fa.fa-envelope.prefix
                input.form-control(type="text", name="email",value=values ? values.email : "", required, placeholder="Email", data-error="#erremail")#email
                label.font-weight-light(for="email") &nbsp; &nbsp; Email:
                small#erremail.form-text.text-danger.err
              .col
                input.form-control(type='text', disabled='')
                label.disabled(for='inputDisabledEx') @tvu.edu.vn  
          .md-form
            i.fa.fa-phone.prefix
            input.form-control(type="text", name="sdt",value=values ? values.sdt : "", required, placeholder="Số điện thoại", data-error="#errsdt")#sdt
            label.font-weight-light(for="sdt") Số điện thoại:
            small#errsdt.form-text.text-danger.err
          .md-form
            i.fa.fa-lock.prefix
            input.form-control(type="password", name="password", required, data-error="#errpw")#password
            label.font-weight-light(for="password") Mật khẩu:
            small#errpw.form-text.text-danger.err
          .md-form
            i.fa.fa-lock.prefix
            input.form-control(type="password", name="passwordConf", required, data-error="#errpwcf")#passwordConf
            label.font-weight-light(for="passwordConf") Xác nhận mật khẩu:
            small#errpwcf.form-text.text-danger.err 
              
          .form-row.mt-2  
            .col
              label(for="knmabm") Tên bộ môn:
              select(name="knmabm").form-control.mb-2.mr-sm-2.custom-select
                if bomon
                  each bomons in bomon
                    option(value= bomons.mabm)= bomons.tenbm      
            .col
              label(for="role") Vai Trò:
              select(name="role").form-control.custom-select
                option(value="Giảng viên") Giảng viên
                option(value="Lãnh đạo khoa") Lãnh đạo khoa
          input(type="submit", value="Xác nhận").btn.btn-primary.mt-2
  script(src='https://code.jquery.com/jquery-3.3.1.js')  
  script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js') 
  script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js') 
  script.
    function infoUser(){
      var x = document.getElementById("mySelect").value;
      var values = x.split('-');
      var vlEmail = values[2].split("@");
      document.getElementById("magv").value = values[0];
      document.getElementById("tengv").value = values[1];
      document.getElementById("email").value = vlEmail[0];
      document.getElementById("sdt").value = values[3];
    } 
    $().ready(function() {
      $("#changeUserForm").validate({
        onfocusout: false,
        onkeyup: function(element) {$(element).valid()},
        onclick: false,
        rules: {
          "tengv": {
            required: true,
            minlength: 3,
            maxlength: 50
          },
          "magv":{
            required: false
          },
          "email": {
            required: true,
            minlength: 3,
            maxlength: 50
          },
          "sdt": {
            required: true,
            minlength: 10,
            maxlength: 10,
            digits: true,
          },
          "password": {
            required: true,
            minlength: 6
          },
          "passwordConf": {
            required: true,
            equalTo: "#password",
            minlength: 6
          }                    
        },
        messages: {
          "tengv": {
            required: "Vui lòng nhập họ tên giảng viên",
            maxlength: "Tối đa 50 ký tự",
            minlength: "Tối thiểu 3 ký tự",
          },
          "email": {
            required: "Vui lòng nhập email",
            maxlength: "Tối đa 50 ký tự",
            minlength: "Tối thiểu 3 ký tự",
          },
          "sdt": {
            required: "Vui lòng nhập số điện thoại",
            maxlength: "Số điện thoại không hợp lệ (phải có 10 số và không có kí tự đặc biệt)!",
            minlength: "Số điện thoại không hợp lệ (phải có 10 số và không có kí tự đặc biệt)!",
            digits: "Số điện thoại không hợp lệ (phải có 10 số và không có kí tự đặc biệt)!"
          },
          "password": {
            required: "Bắt buộc nhập mật khẩu",
            minlength: "Mật khẩu phải có ít nhất 6 ký tự"
          },
          "passwordConf": {
            required: "Bắt buộc nhập xác nhận mật khẩu",
            equalTo: "Xác nhận mật khẩu phải giống với mật khẩu",
            minlength: "Mật khẩu phải có ít nhất 6 ký tự"
          }
        },
        errorPlacement: function(error, element) {
          var placement = $(element).data('error');
          if (placement) {
            $(placement).append(error)
          } else {
            error.insertAfter(element);
          }
        },
        unhighlight: function(element) {
          $(element).parent().removeClass("valid");
        }
      });
    });    
    
    