extends ../layouts/commons.pug
block content
  .container(style='margin-top: 170px')
    .card(style="background-color: rgba(158, 158, 158, 0.1);").labelColor
      .card-body
        form(action="/users/signup", method="POST").was-validated
          p.h4.text-center.py-4 Tạo tài khoản
          if errors
            each error in errors
              .alert.alert-danger
                span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                = error        
          .md-form
            i.fa.fa-user.prefix
            input.form-control(type="text", name="magv",value=values ? values.magv : "", required)
            label.font-weight-light(for="magv") Mã giảng viên:
          .md-form
            i.fa.fa-user.prefix
            input.form-control(type="text", name="tengv",value=values ? values.tengv : "", required)
            label.font-weight-light(for="tengv") Họ và tên giảng viên:
          .md-form
            .row
              .col-3
                i.fa.fa-envelope.prefix
                input.form-control(type="text", name="email",value=values ? values.email : "", required)
                label.font-weight-light(for="email") &nbsp; &nbsp; Email:
              .col
                input.form-control(type='text', disabled='')
                label.disabled(for='inputDisabledEx') @tvu.edu.vn          
          .md-form
            i.fa.fa-phone.prefix
            input.form-control(type="text", name="sdt",value=values ? values.sdt : "", required)
            label.font-weight-light(for="sdt") Số điện thoại:
          .md-form
            i.fa.fa-lock.prefix
            input.form-control(type="password", name="password", required)
            label.font-weight-light(for="password") Mật khẩu:
          .md-form
            i.fa.fa-lock.prefix
            input.form-control(type="password", name="passwordConf", required)
            label.font-weight-light(for="passwordConf") Xác nhận mật khẩu:
          .form-row.mt-2  
            .col
              label(for="knmabm") Tên bộ môn:
              select(name="knmabm").form-control.mb-2.mr-sm-2.custom-select
                if bomon
                  each bomons in bomon
                    option(value= bomons.mabm)= bomons.tenbm      
            .col
              label(for="role") Vai Trò:
              select(name="role").form-control.custom-select
                option(value="Giảng viên") Giảng viên
                option(value="Lãnh đạo khoa") Lãnh đạo khoa
          button.btn.btn-primary.mt-2 Đăng kí
  script(src='https://code.jquery.com/jquery-3.3.1.js')          