extends ../layouts/commons.pug
block content
  .container
    h2.d-flex.justify-content-center Danh sách tài khoản
    button.btn.btn-primary.mr-2(type='button', data-toggle='modal', data-target='#deleteModal')
      | Xóa tài khoản
    // The Modal
    #deleteModal.modal.fade
      .modal-dialog.modal-md
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Xóa tài khoản
            button.close(type='button', data-dismiss='modal') &times;
          // Modal body
          .modal-body
            form(action="/users/userList", method="POST")
              div.form-group.form-inline   
                label(for="userToDelete").mb-2.mr-sm-2 Tên đăng nhập muốn xóa:
                select(name="userToDelete").form-control.mb-2.mr-sm-2
                  each user in users
                    option(value= user.magv)= user.email
              button.btn.btn-primary.mb-2.mr-sm-2 Xóa
              button.btn.btn-secondary(type='button', data-dismiss='modal', style='float: right') Đóng
    button.btn.btn-primary.mr-2(type='button', data-toggle='modal', data-target='#changeRoleModal')
      | Phân quyền
    // The Modal
    #changeRoleModal.modal.fade
      .modal-dialog.modal-md
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Phân quyền
            button.close(type='button', data-dismiss='modal') &times;
          // Modal body
          .modal-body
            form(action="/users/userList", method="POST")
              div.form-group.form-inline
                label(for="userToChangeRole").mb-2.mr-sm-2 Tên đăng nhập:
                select(name="userToChangeRole").form-control.mb-2.mr-sm-2
                  each user in users
                    option(value= user.magv)= user.email
              div.form-group.form-inline  
                label(for="roleToChange").mb-2.mr-sm-2 Quyền:
                select(name="roleToChange").form-control.mb-2.mr-sm-2
                  option(value="Giảng viên") Giảng viên
                  option(value="Lãnh đạo khoa") Lãnh đạo khoa
              button.btn.btn-primary.mb-2.mr-sm-2 Xác nhận
              button.btn.btn-secondary(type='button', data-dismiss='modal', style='float: right') Đóng
    table.table.mt-4
      thead
        tr
          th Mã giảng viên
          th Tên giảng viên
          th SĐT
          th Email
          th Bộ môn
          th Quyền
      each user in userss
        tr
          td= user.magv
          td= user.tengv
          td= user.sdt
          td= user.email
          td= user.tenbm
          td= user.role