extends ../layouts/commons.pug
block content
  .container(style='margin-top: 170px')
    h2.d-flex.justify-content-center Danh sách tài khoản
    button.btn.btn-primary.mr-2.mb-2(type='button', data-toggle='modal', data-target='#changeRoleModal')
      | Phân quyền
    #changeRoleModal.modal.fade
      .modal-dialog.modal-notify.modal-info
        .modal-content
          .modal-header
            h4.heading.lead Phân quyền
            button.close.white-text(type='button', data-dismiss='modal') &times;
          .modal-body
            .text-center
              .fas.fa-users-cog.fa-4x.mb-3.animated.rotateIn          
            form(action="/users/userList", method="POST")
              .form-group.form-inline
                label(for="userToChangeRole").mb-2.mr-sm-2 Tên đăng nhập:
                select(name="userToChangeRole").form-control.mb-2.mr-sm-2
                  each user in users
                    option(value= user.magv)= user.email
              .form-group.form-inline  
                label(for="roleToChange").mb-2.mr-sm-2 Quyền:
                select(name="roleToChange").form-control.mb-2.mr-sm-2
                  option(value="Giảng viên") Giảng viên
                  option(value="Lãnh đạo khoa") Lãnh đạo khoa
              .modal-footer.justify-content-center   
                button.btn.btn-primary.mb-2.mr-sm-2 Xác nhận
                button.btn.btn-outline-primary.waves-effect(type='button', data-dismiss='modal', style='float: right') Đóng
    table.table.mt-4.table-bordered#userTable
      thead.thead-light
        tr
          th Mã giảng viên
          th Tên giảng viên
          th SĐT
          th Email
          th Bộ môn
          th Quyền
          th Thao tác
      each user in userss
        tr
          td= user.magv
          td= user.tengv
          td= user.sdt
          td= user.email
          td= user.tenbm
          td= user.role
          td 
            if user.role != "Quản trị viên" 
              button(data-href="/users/deletegv/" + user.magv, data-toggle="modal", data-target="#confirm-delete" ).btn.btn-danger.fas.fa-trash-alt.mr-2.btn-md
  #confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm.modal-notify.modal-danger(role='document')
      .modal-content.text-center
        .modal-header.d-flex.justify-content-center
          p.heading Bạn chắc chắn muốn xóa?
        .modal-body
          i.fas.fa-times.fa-4x.animated.rotateIn
        .modal-footer
          .modal-footer.flex-center
          a.btn.btn-ok.btn-danger Đúng
          button.btn.btn-outline-danger.waves-effect(type='button', data-dismiss='modal') Hủy
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
  script.
    $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
    $(document).ready(function() {
    $('#userTable').DataTable( {
    "language": {
      "info": "Hiện _START_ trên _END_ tổng _TOTAL_ trường",
      "search": "Tìm kiếm:",
      "paginate": {
        "first":    "Đầu",
        "last":    "Cuối",
        "next":    ">",
        "previous": "<"
      },
      "lengthMenu": "Hiện _MENU_ trường",
    }
    } );
    } );